.accordion{
    border-bottom: 1px solid black;    
}

.panels{
    position: absolute;
    bottom: 0;    
}

.panels, .accordion{
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
}

    .section, .panelspanel{       
        border-top: 1px solid black;     
        background: #FFFFFF;        
    }
        .panelspanel{
            position: absolute;
            bottom: 0;
            width: 100%;
            transform: translateY(100%);
            transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
            padding-bottom: 1.75rem;
            box-sizing: border-box;
        }
        .panelspanelOpen{
            transform: translateY(0);
            z-index: 1;
        }

    .section{
        transition: height 0.25s cubic-bezier(0, 0, 0, 1);
    }
        .section:first-child{
            border-top: none;
        }
       
        .itemBtn{
            background: transparent;
            border: none;
            cursor: pointer;
            width: 100%;
            text-align: left;
            position: relative;
            padding: 0;
            color: #000;
        }
             .itemBtn:after{
                content: '+';
                position: absolute;
                right: 0rem;
                top: 0;
                display: block;
                height: 2.75rem;
                line-height: 2.75rem;
                font-size: 1.6em;

            }
            .itemBtnExpanded:after{
                content: "-";
            }
            
                .panelspanel .itemBtn:after{
                    right: 0.75rem;
                }
    .header{
        box-sizing: border-box;
        padding: 0 .75rem;
        height: 2.75em;
        line-height: 2.75em;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
        .header h3{
            font-size: 1rem;
            line-height: 2.75em;
            margin-bottom: 0;
        }
       

    .content{    
        transition: height 0.25s cubic-bezier(0, 0, 0, 1);   
    }
        .panel{
            box-sizing: border-box;
            padding: 0 .75rem .75rem;
        }

        .panel :last-child{
            margin-bottom: 0;
        }