.accordion{
    border-bottom: 1px solid black;    
}

.panels{
    position: absolute;
    bottom: 0;
    padding-bottom:1.75rem;
}

.panels, .accordion{
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
}

    .section, .panelspanel{       
        border-top: 1px solid black;     
    }
    .section{
        transition: height 0.25s cubic-bezier(0, 0, 0, 1);
    }
        .section:first-child{
            border-top: none;
        }
       
    .header{
        box-sizing: border-box;
        padding: 0 .75rem;
        height: 2.75em;
        line-height: 2.75em;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
        .header h3{
            font-size: 1rem;
            line-height: 2.75em;
            margin-bottom: 0;
        }
        .header button{
            background: transparent;
            border: none;
            cursor: pointer;
            width: 100%;
            text-align: left;
            position: relative;
            padding: 0;
            color: #000;
        }
             .header:after{
                content: '+';
                position: absolute;
                right: 0.75rem;
                top: 0;
                display: block;
                height: 2.75rem;
                line-height: 2.75rem;
                font-size: 1.6em;

            }
            .szh-accordion__item--expanded .header:after{
                content: "-";
            }

    .content{    
        transition: height 0.25s cubic-bezier(0, 0, 0, 1);   
    }
        .panel{
            box-sizing: border-box;
            padding: 0 .75rem .75rem;
        }

        .panel :last-child{
            margin-bottom: 0;
        }