.button{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.75em;
    background: #00ffdc;
    color: #000000;
    background-size: 100% 100%;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    font-family: Arial,"sans-serif";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.125rem;
    padding: 0.75em 1.5rem;
    text-align: center;
    transition: all .2s ease-in-out;
    text-decoration: none;
}
    .button:hover{
        box-shadow: 0 10px 8px rgba(0,0,0,.04),0 4px 3px rgba(0,0,0,.1);
        color: #000;
        outline: none;
    }
    .button:after{
        content: "";
        display: block;
        height: 0.75em;                
        background-image: url(./arrow-right.svg);
        position: relative;
        transition: transform .2s ease-in;
        width: 0.75em;
    }