
.wrap figcaption{
    position: fixed;
    top: 100vh;
}

@keyframes wiggle {
    0%  { transform: translateY(0); }
    25% { transform: translateY(-0.3rem); }
    50%{ transform: translateY(0); }
    75% { transform: translateY(-0.2rem); }
    100% { transform: translateY(0); } 
}


.wrap g[role="button"]:last-of-type text,
.wrap g[role="button"][class^="imaginaries-"]:last-of-type path{
    animation: wiggle .9s cubic-bezier(.36,.07,.19,.97) 1;
}

@media (max-width: 1024px){
    .wrap{
        position: relative;
        opacity: 1;
        aspect-ratio: 8/7;
        margin:0;
        margin-top: 2rem;
        padding:0;
        z-index: 1;
    }
    .wrap:first-child{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
        .wrap svg{
            position: relative;
            width: 130%;
            aspect-ratio: 8/7;
            height: auto;
            left: -15%;
        }
}

@media (min-width: 1024px){
    .wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
        z-index: 0;
    }
        .wrap svg{
            max-width: 130%;
            width: 130%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            max-height: 90vh;
        } 
}