.header{
    width: 100%;
    height: 88px;
    background-color: #4A4A4C;
    color: #ffffff;
    overflow: hidden;     
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 2px solid #00FFDC;
    box-sizing: border-box;
}
    .inner{
        display: flex;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        align-items: center;
        justify-content: space-between;            
        position: relative;     
        margin: 0 auto;
        max-width: 83.75rem;
        width: 100%;                
    }
    
    .mainNav{
        font-weight: bold;
        line-height: 1;         
        margin-right: 1rem; 
    }        
        .mainNav a{
            color: #FFFFFF;
            text-decoration: none;
        }


@media (min-width: 1024px){
    .inner{
        max-width: 67rem;
    }
}
