.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 0;
}
    .wrap svg{
        max-width: 130%;
        width: 130%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }