.wrap{
    flex-grow: 1;
    margin: 0 auto;
    max-width: 83.75rem;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    min-height: calc(100vh - 45px);
}
    .wrap p{
        max-width: 46em;
    }
    .wrap h2{
        font-size: 1rem;
        margin-top: 0.25rem;
    }

.main{
    flex-grow: 1;
    position: relative;
    height: auto;
}
    .mainLoading .paneInfo,
    .mainLoading .paneMain,
    .mainLoading .paneNav{
        opacity: 0;
        border: none;
    }
.pane{
    box-sizing: border-box;
}

.paneInfo{
    transition: opacity 0.5s ease-in-out;
    padding: .55rem .75rem;
    border-bottom: 1px solid black;
}

.paneMain{
    transition: opacity 0.5s ease-in-out;
    position: relative;
    flex-grow: 1;
    padding-bottom: 4.75em;
    overflow: hidden;
}

.paneNav{
    transition: opacity 0.5s ease-in-out;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

@media (min-width: 1024px){
     .wrap{
        flex-direction: row;
        position: relative;
        max-width: 67rem;
        min-height: auto;
    }
    .paneInfo{
        border-right: 1px solid black;
        width: 40%;
        flex-shrink: 0;
        border-bottom: none;
    }
    .paneNav{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 33%;
        justify-content: center;
        padding: 1rem 1rem 2rem 1rem;        
    }
      
    .paneMain{
        flex-grow: 1;
        padding-left: 0;        
    }        
}